In [1]:
# Kenneth Reed
# Pandas HW4 - PyCity Schools

# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
    text-align: left;
}

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os
import csv

# File to Load (Remember to Change These)
school_data_to_load = os.path.join("Resources","schools_complete.csv")
student_data_to_load = os.path.join("Resources","students_complete.csv")

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load, encoding="UTF-8")
student_data = pd.read_csv(student_data_to_load, encoding="UTF-8")

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#Use .count() to see if there's missing information
#school_data_complete.count()

In [5]:
#Calculate the total number of schools
school_count = school_data_complete['School ID'].nunique()
#school_count

In [6]:
#Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
#student_count

In [7]:
#Calculate the total budget
school_budget = school_data_complete[['School ID', 'school_name','budget']].copy()
total_budget = school_budget.drop_duplicates(['School ID', 'budget'], keep='first', inplace=True)
total_budget = school_budget.groupby('School ID').sum().reset_index()
total_budget = school_budget['budget'].sum()
#total_budget

In [8]:
#Calculate the average math score
math = school_data_complete[['Student ID', 'math_score']].copy()
avg_math = math['math_score'].mean()
#avg_math

In [9]:
#Calculate the average reading score
reading = school_data_complete[['Student ID', 'reading_score']].copy()
avg_reading = reading['reading_score'].mean()
#avg_reading

In [10]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall = (avg_math + avg_reading)/2
#overall

In [11]:
#Calculate the percentage of students with a passing math score (70 or greater)
mathPass = math.set_index("Student ID")
mathP = mathPass[mathPass['math_score'] >= 70].count()
mathP = mathP.values
mathPercentage = mathP / student_count * 100
#mathPercentage

In [12]:
#Calculate the percentage of students with a passing reading score (70 or greater)
readPass = reading.set_index("Student ID")
readP = readPass[readPass['reading_score'] >= 70].count()
readP = readP.values
readingPercentage = readP / student_count * 100
#readingPercentage

In [13]:
district = pd.DataFrame([[school_count, student_count, total_budget, avg_math, avg_reading, mathPercentage, readingPercentage, overall]],columns=['Total Schools','Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate'])
district["Total Students"] = district["Total Students"].astype(float).map("{:,.0f}".format)
district["Total Budget"] = district["Total Budget"].astype(float).map("${:,.2f}".format)
district["% Passing Math"] = district["% Passing Math"].astype(float).map("{:,.6f}".format)
district["% Passing Reading"] = district["% Passing Reading"].astype(float).map("{:,.6f}".format)
district

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [14]:
school_detail = student_data[['school_name', 'reading_score', 'math_score']].copy()
school_detail_group = school_detail.groupby('school_name')
school_detail_group.describe()

                      math_score                                          \
                           count       mean        std   min   25%   50%
school_name
Bailey High School        4976.0  77.048432  12.908393  55.0  66.0  77.0
Cabrera High School       1858.0  83.061895   9.245293  68.0  75.0  83.0
Figueroa High School      2949.0  76.711767  12.986908  55.0  65.0  76.0
Ford High School          2739.0  77.102592  12.789984  55.0  66.0  77.0
Griffin High School       1468.0  83.351499   9.236004  68.0  75.0  83.0
Hernandez High School     4635.0  77.289752  13.178957  55.0  66.0  77.0
Holden High School         427.0  83.803279   9.342150  68.0  76.0  84.0
Huang High School         2917.0  76.629414  12.947801  55.0  66.0  76.0
Johnson High School       4761.0  77.072464  13.101575  55.0  66.0  77.0
Pena High School           962.0  83.839917   9.326506  68.0  75.0  84.0
Rodriguez High School     3999.0  76.842711  12.912722  55.0  66.0  77.0
Shelton High School       1761.0  83.359455   9.142479  68.0  76.0  83.0
Thomas High School        1635.0  83.418349   9.280474  68.0  75.0  83.0
Wilson High School        2283.0  83.274201   9.141318  68.0  75.0  83.0
Wright High School        1800.0  83.682222   9.221089  68.0  76.0  84.0

                                  reading_score                              \
                        75%   max         count       mean        std   min
school_name
Bailey High School     88.0  99.0        4976.0  81.033963  10.534034  63.0
Cabrera High School    91.0  99.0        1858.0  83.975780   8.914236  69.0
Figueroa High School   88.0  99.0        2949.0  81.158020  10.695019  63.0
Ford High School       88.0  99.0        2739.0  80.746258  10.695989  63.0
Griffin High School    91.0  99.0        1468.0  83.816757   8.980237  69.0
Hernandez High School  89.0  99.0        4635.0  80.934412  10.720988  63.0
Holden High School     93.0  99.0         427.0  83.814988   9.095010  69.0
Huang High School      88.0  99.0        2917.0  81.182722  10.655466  63.0
Johnson High School    89.0  99.0        4761.0  80.966394  10.633946  63.0
Pena High School       92.0  99.0         962.0  84.044699   9.080349  69.0
Rodriguez High School  88.0  99.0        3999.0  80.744686  10.656611  63.0
Shelton High School    91.0  99.0        1761.0  83.725724   8.996038  69.0
Thomas High School     92.0  99.0        1635.0  83.848930   8.974590  69.0
Wilson High School     91.0  99.0        2283.0  83.989488   8.879753  69.0
Wright High School     92.0  99.0        1800.0  83.955000   8.843000  69.0


                        25%   50%   75%   max
school_name
Bailey High School     72.0  81.0  90.0  99.0
Cabrera High School    76.0  84.0  92.0  99.0
Figueroa High School   72.0  81.0  90.0  99.0
Ford High School       71.5  81.0  90.0  99.0
Griffin High School    76.0  84.0  91.0  99.0
Hernandez High School  71.5  81.0  90.0  99.0
Holden High School     75.0  84.0  92.0  99.0
Huang High School      72.0  82.0  90.0  99.0
Johnson High School    72.0  81.0  90.0  99.0
Pena High School       76.0  84.0  92.0  99.0
Rodriguez High School  71.5  81.0  90.0  99.0
Shelton High School    76.0  83.0  92.0  99.0
Thomas High School     76.0  84.0  92.0  99.0
Wilson High School     77.0  84.0  91.0  99.0
Wright High School     76.0  84.0  92.0  99.0

In [48]:
#Average Math Score
#Average Reading Score
avgResults_group = school_detail.groupby('school_name').agg({'school_name':'count', 'math_score':'mean', 'reading_score':'mean'}).rename(columns={'school_name':'Total Scores', 'math_score':'Avg Math', 'reading_score':'Avg Reading'})
#count_group = school_detail.groupby('school_name').count()

#% Passing Math
#readP = readPass[readPass['reading_score'] >= 70].count()
#readP = readP.values
#readingPercentage = readP / student_count * 100
######avgResults_group['% Passing Math'] = avgResults_group[avgResults_group['math_score'] >= 70.count()]


#% Passing Reading
#Overall Passing Rate (Average of the above two)
avgResults_group['Overall Pass Percents'] = (avgResults_group['Avg Math'] + avgResults_group['Avg Reading']) / 2
avgResults_group

SyntaxError: invalid syntax (<ipython-input-48-496899da4f89>, line 10)

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.